@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$palette-primary: mat-palette($mat-indigo);
$palette-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$palette-warn:    mat-palette($mat-red);

// Base palettes.
// $mat-red
// $mat-pink
// $mat-purple
// $mat-deep-purple
// $mat-indigo
// $mat-blue
// $mat-light-blue
// $mat-cyan
// $mat-teal
// $mat-green
// $mat-light-green
// $mat-lime
// $mat-yellow
// $mat-amber
// $mat-orange
// $mat-deep-orange
// $mat-brown
// $mat-grey
// $mat-blue-grey
